* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

i,
svg {
  pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 4rem;
  height: 4rem;
  margin: 0rem 0.5rem;

  cursor: pointer;
}

.kick-pad {
  background: rgb(160, 211, 235);
}

.snare-pad {
  background: rgb(224, 160, 208);
}

.hihat-pad {
  background: rgb(224, 194, 160);
}

.kick-pad.active {
  background: rgb(59, 197, 231);
}

.snare-pad.active {
  background: rgb(218, 58, 178);
}

.hihat-pad.active {
  background: rgb(241, 158, 64);
}

.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hihat-track,
.snare-track,
.kick-track {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  margin-top: 1rem;
}

.kick,
.snare,
.hihat {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex: 1;
  margin: 0rem 2rem;
}

h1.track-title {
  min-width: 30%;
}
.controls button {
  padding: 1rem;
  border: none;

  background: rgb(88, 88, 88);
  color: white;
  font-size: rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pad {
  transition: all 0.5s ease;
}

.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: rgb(88, 88, 88);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 2rem;
}

select {
  padding: 1rem;
  min-width: 45%;
  font-size: 1rem;
  margin-left: 1rem;
}

.mute.active {
  background: rgb(184, 184, 184);
}

.duplicate-track {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  font-size: 1rem;
  background: rgb(88, 88, 88);
  color: white;
  border: none;
  cursor: pointer;
}

.tempo {
  width: 30%;
  margin-top: 1rem;
}

.tempo-slider {
  padding: 0.2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 30%,
    rgba(41, 112, 196, 1) 100%
  );
  cursor: pointer;
  border-radius: 1rem;
}

input[type="range"]::-webkit-slider-thumb {
  border: 5px solid rgb(88, 88, 88);
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background: #ffffff;
  -webkit-appearance: none;
  transition: all 0.5s ease;
}

input[type="range"].pink::-webkit-slider-thumb {
  border: 6px solid rgb(221, 136, 173);
}

input[type="range"].blue::-webkit-slider-thumb {
  border: 6px solid rgb(41, 116, 207);
}

input[type="range"].zero::-webkit-slider-thumb {
  border: 10px solid rgb(88, 88, 88);
}

input[type="range"].red::-webkit-slider-thumb {
  border: 10px solid rgb(200, 77, 131);
}

.tempo p {
  font-size: 1.5rem;

  text-align: center;
}

button {
  transition: all 0.5s ease;
  text-align: center;
}
button.active {
  color: white;
  opacity: 0.8;
  transform: scale(1.1);
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
